
## Jupyter notebooks
notebook == 6.5.4 

## General
python-dotenv == 1.0.0 

## Visualization
plotly == 5.14.1 
kaleido == 0.2.1.post1 

## Image processing
pillow == 9.5.0 

## Data processing
pandas == 2.0.1 

## Experiment tracking
mlflow == 2.3.0 

## Storage access
# S3
boto3 == 1.26.119 
# Postgresql (sqlalchemy requirement)
# TODO: replace with source dependency since the binary package
# is not intended to be run in production.
# ref: https://www.psycopg.org/docs/install.html#prerequisites
psycopg2-binary == 2.9.6

